<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <section>
            <header class="myheader">
                <div class="container">
                    <img src="./assets/svg/frame.svg" alt="" >

                    <div id="mydiv">
                    <div class="navbar">
                        <ul class="myul">
                            <li>HOME</li>
                            <li>ABOUT</li>
                            <li>COURSES</li>
                            <li>BLOG</li>
                        </ul>
                        <button>CONTACT US</button>
                    </div>
                    </div>
                </div>
            
        </div>
    </section>
    <div class="sections">
        <section>
            <div class="loremimp">
                <div class="lorem">
                    <h1>Start learning with us now</h1>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button class="startbutton">Start learning</button>
                   

                </div>
                
            </div>
            </section>
            <section class="sction">
                <div class="boy">
                    <img src="./assets/svg/5437683.svg" alt="" style="width: 600px; height: 600px;">
                </div>
            </section>
        

    </div>
    
</body>
</html>